streamlit==1.46.0
pandas==2.3.1
selenium==4.22.0
webdriver-manager==4.0.1  # تمت إضافة هذه المكتبة الهامة
pytz==2024.1
beautifulsoup4==4.12.3
lxml==5.2.2
plotly==6.2.0
sentry-sdk==2.8.0
python-dotenv==1.0.1

# Testing Libraries
pytest==8.3.2
pytest-mock==3.14.0
